<div class="flex flex-justify-center">
  <form class="flex flex-align-center" style="gap: 15px;" (submit)="submit()">
    <mat-form-field floatLabel="always">
      <mat-label>Введіть дату народження:</mat-label>

      <input matInput placeholder="DD.MM.YYYY" mask="d0.M0.0000"
        [dropSpecialCharacters]="false" [formControl]="dateControl">

      @if (dateControl.hasError('mask') && !dateControl.hasError('required')) {
        <mat-error>Введіть дату правильного формату</mat-error>
      }

      @if (dateControl.hasError('required')) {
        <mat-error>Дата <strong>обовʼязкова</strong></mat-error>
      }
    </mat-form-field>

    <button type="submit" mat-flat-button>Розрахувати</button>
  </form>
</div>

<div class="content">
  @if (isSubmit()) {
    <div class="health-card-wrapper">
      <h5>Карта здоров'я</h5>

      <div class="table-row">
        <div class="table-th-cell table-index-cell" [style.background-color]="'#c6c8d4'"></div>
        <div class="table-th-cell table-display-cell">Назва чакри</div>
        <div class="table-th-cell table-physics-cell">Фізика</div>
        <div class="table-th-cell table-energy-cell">Енергія</div>
        <div class="table-th-cell table-value-cell">Емоції</div>
      </div>

      @for (item of healthCard; track item.name; let index = $index) {
        <div class="table-row">
          <div class="table-cell table-index-cell" [class]="item.bgColor">{{ index + 1 }}</div>

          <div class="table-cell table-display-cell">
            {{ item.display }}
            <div class="sub-text">
              {{ item.description }}
            </div>
          </div>

          <div class="table-cell table-physics-cell">{{ item.physics }}</div>
          <div class="table-cell table-energy-cell">{{ item.energy }}</div>
          <div class="table-cell table-value-cell">{{ item.value }}</div>
        </div>
      }
    </div>

    <div class="flex" style="width: 100%; min-width: 0; justify-content: center; max-width: 872px; margin: auto;">
      <div class="flex wrapper">
        <img src="assets/svgs/main.svg" alt="">

        @for (item of arkanList; track item.name) {
          <div class="circle" [attr.data-name-index]="item.name" [ngClass]="[
            item.dimension,
            item.position,
            item.color
          ]">{{ item.value }}</div>
        }

        @for (item of lifePeriods; track item.name) {
          @for (item of item.list; track item.name) {
            @if (item.position) {
              <div class="number" [class]="item.position">{{ item.value }}</div>
            }
          }
        }
      </div>
    </div>
  }
</div>